
<table class="table table-hover  mt-5 "
 [class]="regionNames_.length>0 ? regions_classNames.get(activeRegion) : ''">
    <thead class="animate__animated animate__bounceInDown">
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Poblacion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let country of countries;let i =index"  [class]="setClassPeru(country.name.common)">
            <td>{{i+1}}</td>
            <td>
                <img [src]="country.flags.svg" alt="" class="small-flag">
            </td>
            <td [innerText]="country.name.common"></td>
            <td>{{country?.capital?.toString() || "~isEmpty~" | titlecase }}</td>
            <td [innerText]="country.population | number"></td>
            <td>
                <a [routerLink]="['/pais',country.cca2]">Ver {{country.flag}}</a>
            </td>
        </tr>
    </tbody>
</table>
